absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
apricot-select==0.6.1
arrow==1.3.0
asgiref==3.10.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
audioop-lts==0.2.1
beautifulsoup4==4.13.4
binaryornot==0.4.4
blinker==1.9.0
bs4==0.0.2
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.2
comtypes==1.4.11
contourpy==1.3.2
cookiecutter==2.6.0
cryptography==45.0.5
cssselect==1.3.0
cssutils==2.11.1
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
deep-sort-realtime==1.3.2
defusedxml==0.7.1
distro==1.9.0
Django==5.2.7
dm-tree==0.1.9
dnspython==2.7.0
docstring_parser==0.17.0
einops==0.8.1
et_xmlfile==2.0.0
etils==1.13.0
executing==2.2.0
fastapi==0.116.1
filelock==3.18.0
firebase-admin==6.9.0
Flask==3.1.1
flask-cors==6.0.1
flatbuffers==25.2.10
flet==0.28.3
flet-cli==0.28.3
flet-desktop==0.28.3
flet-web==0.28.3
fonttools==4.58.1
frozenlist==1.7.0
fsspec==2025.5.1
future==1.0.0
gast==0.6.0
gcloud==0.18.3
geocoder==1.38.1
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.73.1
gunicorn==23.0.0
h11==0.16.0
h2==4.2.0
h5py==3.14.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
immutabledict==4.2.1
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
jwcrypto==1.5.6
keras==3.11.1
kiwisolver==1.4.8
libclang==18.1.1
llvmlite==0.45.1
lxml==5.4.0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.3
more-itertools==10.7.0
mplsoccer==1.5.1
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
namex==0.1.0
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.1
nose==1.3.7
numba==0.62.1
numpy==2.2.6
oauth2client==4.1.3
oauthlib==3.3.1
openai==1.97.1
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.8
playsound==1.3.0
pomegranate==1.1.2
postgres==4.0
premailer==3.10.0
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
psycopg2-binary==2.9.10
psycopg2-pool==1.2
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
PyDrive==1.3.1
pygame==2.6.1
Pygments==2.19.1
PyJWT==2.10.1
pymongo==4.13.2
pyparsing==3.2.3
pypiwin32==223
pypng==0.20220715.0
Pyrebase4==4.8.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jwt==4.1.0
python-slugify==8.0.4
pyttsx3==2.99
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
qrcode==7.4.2
ratelim==0.1.6
regex==2025.7.34
repath==0.9.0
requests==2.32.3
requests-toolbelt==0.10.1
rich==14.1.0
rsa==4.9.1
scikit-learn==1.7.1
scipy==1.16.0
seaborn==0.13.2
setuptools==80.9.0
simple-parsing==0.1.7
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SpeechRecognition==3.14.3
sqlparse==0.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.47.2
supervision==0.26.1
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0rc0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
ttkbootstrap==1.14.1
twilio==9.6.4
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.163
ultralytics-thop==2.0.14
uritemplate==4.2.0
urllib3==1.26.20
uvicorn==0.35.0
vonage==4.4.3
vonage-account==1.1.1
vonage-application==2.0.1
vonage-http-client==1.5.1
vonage-jwt==1.1.5
vonage-messages==1.5.0
vonage-network-auth==1.0.2
vonage-network-number-verification==1.0.2
vonage-network-sim-swap==1.1.2
vonage-number-insight==1.0.7
vonage-numbers==1.0.4
vonage-sms==1.1.6
vonage-subaccounts==1.0.4
vonage-users==1.2.1
vonage-utils==1.1.4
vonage-verify==2.1.0
vonage-verify-legacy==1.0.1
vonage-video==1.2.0
vonage-voice==1.4.0
watchdog==4.0.2
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
yagmail==0.15.293
yarl==1.20.1
zipp==3.23.0
